[submodule "reslver"]
	path = reslver
	url = git@git.k8s.app:joseph/reslver.git
[submodule "reslver-tf-loader"]
	path = reslver-tf-loader
	url = git@git.k8s.app:joseph/reslver-tf-loader.git
[submodule "reslver-graph-exporter"]
	path = reslver-graph-exporter
	url = git@git.k8s.app:joseph/reslver-graph-exporter.git
[submodule "reslver-static-graph-exporter"]
	path = reslver-static-graph-exporter
	url = git@git.k8s.app:joseph/reslver-static-graph-exporter.git
[submodule "reslver-configs"]
	path = reslver-configs
	url = git@git.k8s.app:joseph/reslver-configs.git
[submodule "reslver-excel-exporter"]
	path = reslver-excel-exporter
	url = git@git.k8s.app:joseph/reslver-excel-exporter.git
